name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
      - roncor23
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Set base URL
        id: baseurl
        run: |
          if [ "${{ github.repository }}" == "${{ github.repository_owner }}/${{ github.repository_owner }}.github.io" ]; then
            echo "base_url=/" >> $GITHUB_OUTPUT
          else
            echo "base_url=/${{ github.event.repository.name }}/" >> $GITHUB_OUTPUT
          fi

      - name: Generate
        run: npm run generate
        env:
          NUXT_PUBLIC_BASE_URL: ${{ steps.baseurl.outputs.base_url }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          cname: false
